"auth/validator": {
  "alg": "RS256",
  "scopes": [
    "org_admin"
  ],
  "jwk_url": "http://cognito-mock.trustbloc.local:9229/local_5a9GzRvB/.well-known/jwks.json",
  "cache": true,
  "disable_jwk_security": true,
  "operation_debug": true,
  "propagate_claims": [
    [
      "custom:tenant_id",
      "x-tenant-id"
    ]
  ]
  {{ if .roles_to_validate }}
  ,
  "roles_key": "custom:roles",
  "roles": [
  {{range $index, $role := .roles_to_validate }} {{if $index}},{{end}} "{{$role}}" {{ end }}
  ]
  {{ end }}
}