#
# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

name: release
on:
  push:
    tags:
      - 'v*'
jobs:
  publish:
    name: Publish image
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go 1.21
        uses: actions/setup-go@v2
        with:
          go-version: '1.21'
        id: go

      - name: Set ENV vars
        run: |
          TAG=$(git describe --tags --always `git rev-list --tags --max-count=1`)
          echo "IMAGE_TAG"=$TAG >> $GITHUB_ENV
          echo "VCS_IMAGE_PREFIX"=ghcr.io/trustbloc/vc-server >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Github Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.CR_USER }}
          password: ${{ secrets.CR_PAT }}

      - name: Build and Push container vcs image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./images/vc-rest/Dockerfile
          platforms: linux/amd64,linux/arm64
          build-args: |
            ALPINE_VER=3.18
            GO_VER=1.21
          push: true
          tags: |
            ${{ env.VCS_IMAGE_PREFIX }}:${{ env.IMAGE_TAG }}
            ${{ env.VCS_IMAGE_PREFIX }}:latest

      - name: Build binaries
        run: make build-wallet-cli-binaries

      - name: Upload binaries and their SHA to Github Release
        uses: alexellis/upload-assets@0.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          asset_paths: '["./.build/dist/bin/wallet-cli*"]'
